@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

.contain {
  /* background: url("https://jalyss.com/modules/cz_imageslider/views/img/8bfc9742770a973a3b69ba57f8092478b23fad17_25555-03.jpg");
  background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background: #e2bae6; */
  color: #f6f8fc !important;
  padding-top: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.title {
  letter-spacing: 5px;
  font-family: "Caveat", cursive !important;
  color: #9b0144;
}
.todo-app {
  backdrop-filter: blur(10px);
  /* padding: 30px; */
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 3px rgba(0, 0, 0, 0.2);
}

.input-with-b-border {
  color: 47174b !important;
  font-size: 17px;
  width: 100%;
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid white !important;
  background: transparent;
  padding: 10px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.55);
}

.rounded-btn {
  border: none;
  outline: none !important;
  padding: 12px 13px;
  background: #9b0144;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-top-right-radius: 40px !important;
  border-bottom-right-radius: 40px !important;
  border-top-left-radius: 40px !important;
  transition: 0.2s ease-in-out;
}

.background {
  min-height: 100px;
  background-color: #ffff;

  justify-content: center;
  display: flex;
  align-items: center;
  border: solid 1px #48184c;
  cursor: pointer;
  transition: ease 1s;
}
.background:hover {
  transform: scale(1.03);
  font-size: 50px;
}

.backgroundWinner {
  background-color: #00b846;
  border: solid 1px #00b846;
  box-shadow: "0px 0px 10px 5px #00b846";
}
.backgroundLoser {
  background-color: #ff142b;
  border: solid 1px #ff142b;
  box-shadow: "0px 0px 10px 5px rgba(255, 20, 43, 0.5)";
}

.width-100 {
  width: 100% !important;
}

@media screen and (max-width: 600px) {

  body {
    background: url("https://jalyss.com/modules/cz_imageslider/views/img/8bfc9742770a973a3b69ba57f8092478b23fad17_25555-03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
  }
}
